CREATE TABLE DAUSER.DA_DB_LIST
(
    DB_ID           NUMBER,
    DB_NM           VARCHAR2(100) NOT NULL,
    HOST_NM         VARCHAR2(100),
    CREATE_DT       DATE NOT NULL,
    DQM_DB_ID       VARCHAR2(200),
    DQM_DB_NM       VARCHAR2(200),
    DBSHOW_USE_YN   VARCHAR2(1) NOT NULL
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE UNIQUE INDEX DAUSER.IX1_DA_DB_LIST
ON DAUSER.DA_DB_LIST (DB_NM) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE UNIQUE INDEX DAUSER.PK_DA_DB_LIST
ON DAUSER.DA_DB_LIST (DB_ID) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_DB_LIST
ADD CONSTRAINT PK_DA_DB_LIST PRIMARY KEY (DB_ID);

COMMENT ON COLUMN DAUSER.DA_DB_LIST.CREATE_DT IS '생성일시';
COMMENT ON COLUMN DAUSER.DA_DB_LIST.DBSHOW_USE_YN IS 'DBSHOW사용여부';
COMMENT ON COLUMN DAUSER.DA_DB_LIST.DB_NM IS 'DB명(비고:ORACLE인 경우,INSTANCE_NAME)';
COMMENT ON COLUMN DAUSER.DA_DB_LIST.DQM_DB_ID IS 'DQM DB NM(비고:DQMMETAADMIN.DQM_DB_NM 참조)';
COMMENT ON COLUMN DAUSER.DA_DB_LIST.HOST_NM IS '호스트명(비고:HOST_NAME참조)';
COMMENT ON TABLE DAUSER.DA_DB_LIST IS 'DB목록';