-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_STAT_MNG
(
    DB_NM           VARCHAR2(64) NOT NULL,
    STAT_NM         VARCHAR2(64) NOT NULL,
    CLCT_DY         VARCHAR2(8) NOT NULL,
    CLCT_RSLT_CD    VARCHAR2(10) NOT NULL,
    PART_CD         VARCHAR2(10),
    CREATE_DT       DATE NOT NULL,
    UPDATE_DT       DATE NOT NULL,
    TRT_CNT         NUMBER,
    TRT_CONT        VARCHAR2(4000)
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE UNIQUE INDEX DAUSER.PK_DA_STAT_MNG
ON DAUSER.DA_STAT_MNG (DB_NM,STAT_NM,CLCT_DY) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_STAT_MNG
ADD CONSTRAINT PK_DA_STAT_MNG PRIMARY KEY (DB_NM,STAT_NM,CLCT_DY);

COMMENT ON COLUMN DAUSER.DA_STAT_MNG.CLCT_DY IS '수집일자';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.CLCT_RSLT_CD IS '수집결과코드';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.CREATE_DT IS '생성일자';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.DB_NM IS 'Database명';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.PART_CD IS '현재파티션코드';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.STAT_NM IS '항목명';
COMMENT ON COLUMN DAUSER.DA_STAT_MNG.UPDATE_DT IS '수정일자';
COMMENT ON TABLE DAUSER.DA_STAT_MNG IS '지표수집관리';