-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SERVER_INFO
(
    SERVER_IP   VARCHAR2(20),
    HOSTNAME    VARCHAR2(64),
    CREATE_DT   DATE,
    UPDATE_DT   DATE
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;
