-- DDL Script was generated by Orange for ORACLE
CREATE TABLE DAUSER.DA_TABLES
(
    DB_ID           NUMBER,
    OWNER           VARCHAR2(100),
    TABLE_NAME      VARCHAR2(500),
    LOGIC_AREA_CD   VARCHAR2(100),
    LOGIC_AREA_CD2  VARCHAR2(100),
    PHSCL_AREA_CD   VARCHAR2(100),
    TABLE_COMMENTS  VARCHAR2(4000),
    TABLE_CREATE_DT DATE,
    STD_OBJ_YN      VARCHAR2(1),
    CREATE_DT       DATE,
    UPDATE_DT       DATE,
    PAGE_AREA_CD    VARCHAR2(100),
    SUBJ_AREA_CD    VARCHAR2(100)
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE INDEX DAUSER.IX1_DA_TABLES
ON DAUSER.DA_TABLES (SUBJ_AREA_CD) 
TABLESPACE TBS_DAUSER_DATA;

CREATE UNIQUE INDEX DAUSER.PK_DA_TABLES
ON DAUSER.DA_TABLES (DB_ID,OWNER,TABLE_NAME) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_TABLES
ADD CONSTRAINT PK_DA_TABLES PRIMARY KEY (DB_ID,OWNER,TABLE_NAME);

COMMENT ON COLUMN DAUSER.DA_TABLES.DB_ID IS 'DBSTORE아이디';
COMMENT ON COLUMN DAUSER.DA_TABLES.LOGIC_AREA_CD IS '논리영역코드(비고:1Depth주제영역분류)';
COMMENT ON COLUMN DAUSER.DA_TABLES.LOGIC_AREA_CD2 IS '논리영역코드2(비고:2Depth주제영역분류)';
COMMENT ON COLUMN DAUSER.DA_TABLES.OWNER IS '테이블소유자(비고:DBA_TABLES.OWNER)';
COMMENT ON COLUMN DAUSER.DA_TABLES.PHSCL_AREA_CD IS '물리영역코드';
COMMENT ON COLUMN DAUSER.DA_TABLES.STD_OBJ_YN IS '표준화대상여부';
COMMENT ON COLUMN DAUSER.DA_TABLES.SUBJ_AREA_CD IS '주제영역코드';
COMMENT ON COLUMN DAUSER.DA_TABLES.TABLE_COMMENTS IS '테이블COMMENT';
COMMENT ON COLUMN DAUSER.DA_TABLES.TABLE_CREATE_DT IS '테이블생성일시';
COMMENT ON COLUMN DAUSER.DA_TABLES.TABLE_NAME IS '테이블명(비고:DBA_TABLES.TABLE_NAME)';
COMMENT ON TABLE DAUSER.DA_TABLES IS '11번가 전사 테이블 내역';