-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SYNC_TABLES
(
    SRC_DB      VARCHAR2(20),
    TABLE_OWNER VARCHAR2(4000),
    TABLE_NM    VARCHAR2(64),
    TRGT_DB     VARCHAR2(20),
    UPDATE_DT   DATE
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;
