-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SQLID_LIST
(
    DB_ID               NUMBER,
    SQL_ID              VARCHAR2(13),
    SQL_NAME            VARCHAR2(1000),
    SQL_NAME_NO         NUMBER,
    MODULE              VARCHAR2(64),
    FIRST_LOAD_TIME     VARCHAR2(38),
    LAST_ACTIVE_TIME    DATE,
    PROGRAM_ID          NUMBER,
    PARSING_SCHEMA_NAME VARCHAR2(100),
    UPDATE_DT           DATE NOT NULL
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE UNIQUE INDEX DAUSER.PK_DA_SQLID_LIST
ON DAUSER.DA_SQLID_LIST (DB_ID,SQL_ID) 
TABLESPACE TBS_DAUSER_DATA;

ALTER TABLE DAUSER.DA_SQLID_LIST
ADD CONSTRAINT PK_DA_SQLID_LIST PRIMARY KEY (DB_ID,SQL_ID);
