-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SQLNAME_LIST
(
    SQL_NAME_NO         NUMBER,
    DB_ID               NUMBER,
    SQL_NAME            VARCHAR2(1000),
    REP_SQL_ID          VARCHAR2(100),
    PARSING_SCHEMA_NAME VARCHAR2(100),
    MODULE              VARCHAR2(100),
    LAST_ACTIVE_TIME    DATE,
    CREATE_DT           DATE,
    UPDATE_DT           DATE
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE UNIQUE INDEX DAUSER.IX1_DA_SQLNAME_LIST
ON DAUSER.DA_SQLNAME_LIST (DB_ID,SQL_NAME) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE UNIQUE INDEX DAUSER.PK_DA_SQLNAME_LIST
ON DAUSER.DA_SQLNAME_LIST (SQL_NAME_NO) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_SQLNAME_LIST
ADD CONSTRAINT PK_DA_SQLNAME_LIST PRIMARY KEY (SQL_NAME_NO);
