-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SQLNAME_DTL_INFO
(
    SQL_NAME_NO NUMBER,
    OWNER       VARCHAR2(30),
    OBJECT_NAME VARCHAR2(100),
    OBJECT_TYPE VARCHAR2(19),
    CREATE_DT   DATE,
    UPDATE_DT   DATE
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE INDEX DAUSER.IX1_DA_SQLNAME_DTL_INFO
ON DAUSER.DA_SQLNAME_DTL_INFO (OWNER,OBJECT_NAME,OBJECT_TYPE) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE UNIQUE INDEX DAUSER.PK_DA_SQLNAME_DTL_INFO
ON DAUSER.DA_SQLNAME_DTL_INFO
(
    SQL_NAME_NO,
    OWNER,
    OBJECT_NAME,
    OBJECT_TYPE
) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_SQLNAME_DTL_INFO
ADD CONSTRAINT PK_DA_SQLNAME_DTL_INFO PRIMARY KEY (SQL_NAME_NO,OWNER,OBJECT_NAME,OBJECT_TYPE);
