-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_SQL_DEPENDENCY
(
    CLCT_DY     VARCHAR2(8) NOT NULL,
    DB_NM       VARCHAR2(100) NOT NULL,
    SQL_ID      VARCHAR2(13) NOT NULL,
    OWNER       VARCHAR2(30) NOT NULL,
    OBJECT_NAME VARCHAR2(100) NOT NULL,
    OBJECT_TYPE VARCHAR2(19),
    DB_ID       NUMBER,
    CREATE_DT   DATE NOT NULL
)
TABLESPACE TBS_DAUSER_DATA
NOCOMPRESS;

CREATE INDEX DAUSER.IX1_DA_SQL_DEPENDENCY
ON DAUSER.DA_SQL_DEPENDENCY
(
    CLCT_DY,
    OWNER,
    OBJECT_NAME,
    OBJECT_TYPE
) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE INDEX DAUSER.IX2_DA_SQL_DEPENDENCY
ON DAUSER.DA_SQL_DEPENDENCY (OWNER,OBJECT_NAME,OBJECT_TYPE) 
TABLESPACE TBS_DAUSER_DATA;

CREATE UNIQUE INDEX DAUSER.PK_DA_SQL_DEPENDENCY
ON DAUSER.DA_SQL_DEPENDENCY
(
    CLCT_DY,
    DB_NM,
    SQL_ID,
    OWNER,
    OBJECT_NAME,
    OBJECT_TYPE
) 
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

ALTER TABLE DAUSER.DA_SQL_DEPENDENCY
ADD CONSTRAINT PK_DA_SQL_DEPENDENCY PRIMARY KEY (CLCT_DY,DB_NM,SQL_ID,OWNER,OBJECT_NAME,OBJECT_TYPE);
