-- DDL Script was generated by Orange for ORACLE

CREATE TABLE DAUSER.DA_AWR_SQLSTAT
(
    DB_ID               NUMBER NOT NULL,
    SNAP_ID             NUMBER NOT NULL,
    SNAP_DT             TIMESTAMP(3) NOT NULL,
    INSTANCE_NUMBER     NUMBER NOT NULL,
    SQL_ID              VARCHAR2(13) NOT NULL,
    SQL_NAME            VARCHAR2(4000),
    PLAN_HASH_VALUE     NUMBER NOT NULL,
    LOADED_VERSIONS     NUMBER,
    VERSION_COUNT       NUMBER,
    MODULE              VARCHAR2(64),
    PARSING_SCHEMA_NAME VARCHAR2(30),
    EXECUTIONS_TOTAL    NUMBER,
    EXECUTIONS_DELTA    NUMBER,
    LOADS_TOTAL         NUMBER,
    LOADS_DELTA         NUMBER,
    INVALIDATIONS_TOTAL NUMBER,
    INVALIDATIONS_DELTA NUMBER,
    BUFFER_GETS_TOTAL   NUMBER,
    BUFFER_GETS_DELTA   NUMBER,
    CPU_TIME_TOTAL      NUMBER,
    CPU_TIME_DELTA      NUMBER,
    ELAPSED_TIME_TOTAL  NUMBER,
    ELAPSED_TIME_DELTA  NUMBER
)
TABLESPACE TBS_DAUSER_DATA
NOLOGGING
PARTITION BY RANGE (SNAP_DT)
(
    PARTITION P_201911 VALUES LESS THAN (TIMESTAMP' 2019-12-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_201912 VALUES LESS THAN (TIMESTAMP' 2020-01-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202001 VALUES LESS THAN (TIMESTAMP' 2020-02-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202002 VALUES LESS THAN (TIMESTAMP' 2020-03-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202003 VALUES LESS THAN (TIMESTAMP' 2020-04-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202004 VALUES LESS THAN (TIMESTAMP' 2020-05-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202005 VALUES LESS THAN (TIMESTAMP' 2020-06-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202006 VALUES LESS THAN (TIMESTAMP' 2020-07-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202007 VALUES LESS THAN (TIMESTAMP' 2020-08-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202008 VALUES LESS THAN (TIMESTAMP' 2020-09-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202009 VALUES LESS THAN (TIMESTAMP' 2020-10-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202010 VALUES LESS THAN (TIMESTAMP' 2020-11-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202011 VALUES LESS THAN (TIMESTAMP' 2020-12-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202012 VALUES LESS THAN (TIMESTAMP' 2021-01-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202101 VALUES LESS THAN (TIMESTAMP' 2021-02-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202102 VALUES LESS THAN (TIMESTAMP' 2021-03-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202103 VALUES LESS THAN (TIMESTAMP' 2021-04-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202104 VALUES LESS THAN (TIMESTAMP' 2021-05-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202105 VALUES LESS THAN (TIMESTAMP' 2021-06-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202106 VALUES LESS THAN (TIMESTAMP' 2021-07-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202107 VALUES LESS THAN (TIMESTAMP' 2021-08-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202108 VALUES LESS THAN (TIMESTAMP' 2021-09-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202109 VALUES LESS THAN (TIMESTAMP' 2021-10-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202110 VALUES LESS THAN (TIMESTAMP' 2021-11-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202111 VALUES LESS THAN (TIMESTAMP' 2021-12-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS,
    PARTITION P_202112 VALUES LESS THAN (TIMESTAMP' 2022-01-01 00:00:00')
    TABLESPACE TBS_DAUSER_DATA
    NOLOGGING
    NOCOMPRESS
);

CREATE INDEX DAUSER.IX1_DA_AWR_SQLSTAT
ON DAUSER.DA_AWR_SQLSTAT (SQL_ID,SNAP_DT) 
LOCAL
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE INDEX DAUSER.IX2_DA_AWR_SQLSTAT
ON DAUSER.DA_AWR_SQLSTAT (SQL_NAME,SNAP_DT) 
LOCAL
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE INDEX DAUSER.IX3_DA_AWR_SQLSTAT
ON DAUSER.DA_AWR_SQLSTAT (DB_ID,SNAP_ID) 
LOCAL
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;

CREATE UNIQUE INDEX DAUSER.PK_DA_AWR_SQLSTAT
ON DAUSER.DA_AWR_SQLSTAT
(
    DB_ID,
    SNAP_DT,
    INSTANCE_NUMBER,
    SQL_ID,
    PLAN_HASH_VALUE
) 
LOCAL
TABLESPACE TBS_DAUSER_DATA
NOLOGGING;
